[2019-08-03 15:25] lyudmyla-horbyk opened #7 "Warpable isn't working after scalable and rotatable"

[2019-08-04 17:25] probil opened #8 "Not re-drawing on resize"
![Screenshot from 2019-08-04 20-27-36](https://user-images.githubusercontent.com/6773202/62427100-53769080-b6f6-11e9-97a0-ec7d212a8a53.png)

[2019-08-04 17:25] probil commented on #8
Fixed in `v0.1.5`

[2019-08-04 17:28] #8 closed

[2019-08-04 18:01] probil opened #9 "Doesn't re-draw during scroll"
![67961267_10220012014116629_6592213142191734784_n](https://user-images.githubusercontent.com/6773202/62427377-e6b1c500-b6fa-11e9-9ee4-1d2eb6ae85b2.jpg)

Browser: safari /iOS

[2019-08-05 09:21] daybrush commented on #9
@probil
moveable has a container option.
If the container is not set, the position is fixed.

https://github.com/daybrush/moveable#-how-to-use

[2019-08-05 11:06] probil commented on #9
@daybrush
I through `container` what you pass into the moveable constructor.

![Screen Shot 2019-08-05 at 14 02 01](https://user-images.githubusercontent.com/6773202/62460254-2f648f00-b78a-11e9-95ff-4ec794b04c73.png)

What is the reason of having `parent` and `container`? 🤔

[2019-08-05 11:12] daybrush commented on #9
@probil

It seems rather confusing. I'll make the vanilla moveable the same as the parent by default of the container.

parent is just the place to add a moveable element.

If the container is not set, the position is fixed and where it is added is not affected.

[2019-08-05 15:04] hawkeye64 commented on #9
But the text scrolls and the Moveable does not scroll with it -- this is the issue.

[2019-08-06 15:30] probil commented on #9
Fixed in `v0.2.0`

[2019-08-06 15:30] #9 closed

[2019-08-06 15:32] probil commented on #7
Can you please provide steps to reproduce, OS and Browser version?

[2019-08-14 10:02] #7 closed

[2019-08-14 10:02] probil commented on #7
Can't reproduce

[2019-08-29 12:34] Monine opened #27 "[Vue warn]: Error in nextTick: "RangeError: Maximum call stack size exceeded""
e.g.
https://codesandbox.io/embed/vue-template-3wd0w

The key point is on the container property
Is my usage wrong?

[2019-08-29 12:35] contd opened #28 "Position/Alignment of movable box"
When I setup this to work with a list of image thumbnails on my page, the movable blue box is below the images.  Attached is a screenshot of what it looks like.
![Screen Shot 2019-08-29 at 8 33 07 AM](https://user-images.githubusercontent.com/14170277/63940623-e37ad200-ca37-11e9-8a39-dea5b8ac40ac.png)

[2019-08-29 13:03] probil commented on #27
Hi @Monine 👋
Thanks for your issue.

`container` param is optional. Are you sure you need it?
I'll check your example more deeply soon.

In a meantime you can check the code of the demo
https://github.com/probil/vue-moveable/blob/master/src/App.vue

[2019-08-30 00:35] Monine commented on #27
Yes, I want to be in a specific container.

[2019-09-03 13:28] probil opened #31 "Update to support moveable 0.9.x"
- [x] Update `moveable` as dependency
- [x] Check for new options/events (changlog)
- [x] Update docs
- [x] Update demo
- [x] Check functionality
- [ ] Release

[2019-09-04 03:25] Monine commented on #27
Is there any progress? We can discuss it together.

[2019-09-04 11:19] probil commented on #27
Hi @Monine
I can confirm that there is a bug.
I don't have time right now to investigate the reason why it's happening.

It looks strange because there is nothing special about it. 🤔
The component takes container element as a property and passes it to moveable. No magic here

Let's try to inline component from the repo to your codesandbox and use development version of vue so we have access to sou

[2019-09-05 02:30] Monine commented on #27
Think differently.
Is it possible to use custom directives to avoid this bug?
I will find time to try.

[2019-09-10 20:12] msurguy opened #32 "How to set initial coordinates / size?"
Hello and thank you for this library!

I'd like to initialize the component with specific size / location. Is it possible?

[2019-09-11 08:26] probil commented on #32
Hi @msurguy 👋

There is no convenient, Vue-way of doing it right now

But you can always do it in css. :)
[code]

[2019-09-14 03:10] msurguy commented on #32
Thanks @probil ! I'll check this out

[2019-10-09 07:14] nastefan commented on #28
@contd  I have the same issue, did you find the reason?

[2019-10-09 12:38] stefanaz opened #35 "How to get id of the active element?"
I have multiple instances of the vue-moveable, how can I know which one was resized/dragged or so?

[2019-10-09 13:04] stefanaz opened #36 "keepRatio, for all resize circles?"
Is it possible to apply keepRatio for all resize circles, currently it does work only for the corner circles.
Or is it possible to hide some of the resize circles?

[2019-10-09 13:05] stefanaz opened #37 "stick to parent size?"
Is it possible to limit element movements by a parent container size?

[2019-10-09 13:06] stefanaz commented on #28
Parent element should has position: relative;

[2019-10-15 13:05] #32 closed

[2019-10-15 13:08] probil commented on #28
@contd could you check workaround provided by @stefanaz ?
It would be nice if you can make a Minimal Reproduction of the bug on codesandbox/jsfiddle/codepen or whatever you like

[2019-10-16 15:11] stefanaz commented on #37
@probil  thanks for pushing that on. I have found bounds property on the original moveable documentation site. https://daybrush.com/moveable/release/latest/doc/Moveable.html#bounds
But it seems to not be yet ported ? Or I am using that not correctly? Could you help please?

I try like that:
<Moveable
    .....
    :bounds="{ left: 220, right: 1000, top: 0, bottom: 1000}">
    .....
</Moveable>

[2019-10-16 15:21] stefanaz opened #41 "hide / show / hide blue line helpers."
How could I with Vue hide and show line helpers?

I have a few elements, and want sometimes remove all moveable functionality. Like it will be not draggable, not resiazable, not wrapable and so...  I can do that just added moveable.draggable="false", moveable.scalable="false" ... But, blue line-helpers are still there.

My problem is that div with class name "moveable-control-box" which contains a

[2019-10-16 16:13] romansp commented on #27
After trying out different things I found out that `RangeError` is thrown when passed `container` prop is a `Vue` component itself. To avoid it you can create a wrapping element and pass it instead.

See updated codesandbox here: https://codesandbox.io/embed/vue-template-67q68

[2019-10-17 07:14] stefanaz commented on #41
with property container: document.getElementById('my-div'),  fixed, and particularly  not relevant any more. I'll close it.

[2019-10-17 07:14] #41 closed

[2019-10-17 09:42] lynmije commented on #28
have you find solution on this issues? @contd  @probil

[2019-10-17 09:42] lynmije commented on #28
@probil i have also encountered this issue. Attached below is the screenshots
![image](https://user-images.githubusercontent.com/47166455/66997693-86310200-f105-11e9-9115-4904649fbcae.png)

[2019-10-17 10:33] stefanaz commented on #28
@lynmije  try to play with margin-top of your container and position:relative/absolute;

[2019-10-17 10:56] romansp commented on #27
Did further further investigation. This is happening due to watcher on `$props` being marked as `deep`. When passed `container` prop is a component then watcher has to traverse the whole object and eventually "traps" itself trying to build a dependency tree.

Simple repro available here: https://codesandbox.io/s/vue-template-20djs. Try clicking `update` buttons and error will appear in the console

[2019-10-17 13:38] probil commented on #27
This is cool.
Thanks for your time on investigation @romansp . Would you like to make a PR with a fix?

Without `deep` on `$props` we can't handle reactive updates (to sync props and moveable). But I think we can watch props one-by-one so `deep` is not needed. There will be a lot of repetitions but I have an idea how to handle it.

[2019-10-17 14:09] romansp commented on #27
Yes, sure I will try and open a PR.

What do you think about changing component's API from enumerating all `moveable` options as separate props and use a single `options` prop instead? This `options` prop can be deep-watched separately.

This might be a better option as component will support all existing (and future possible) `moveable` options by default, automatically fixing #31. Maybe it will

[2019-10-17 19:00] probil commented on #37
Directly related to #31

[2019-10-19 09:30] probil opened #45 "Remove global polyfills"
Currently library includes polyfill for built-ins like `Promise`, `Symbol` or `Object.assign`.

But according to the Vue CLI docs:

We can cut up to 20kb of JS from the bundle

TODO:
- [x] PR
- [x] Remove polyfills
- [x] Describe needed polyfills in docs
- [x] Release

[2019-10-22 10:01] probil commented on #45
Released as part of v1.0.0

[2019-10-22 10:01] #45 closed

[2019-10-22 10:02] probil commented on #27
Released as part of v1.0.0

[2019-10-22 10:02] #27 closed

[2019-10-22 10:02] probil commented on #31
Released as part of v1.0.0

[2019-10-22 10:02] #31 closed

[2019-10-22 10:02] probil commented on #37
Released as part of v1.0.0

[2019-10-22 10:02] #37 closed

[2019-10-22 10:07] probil commented on #35
Hi @stefanaz
You can extract target element from the event in resize or drag handler. E.g.
[code]

[2019-10-22 10:11] probil commented on #36
I think you can archive it use custom css.
https://github.com/daybrush/moveable/blob/master/handbook/handbook.md#toc-custom-css

You can also ask in original repo
https://github.com/daybrush/moveable/issues

[2019-10-22 10:13] probil opened #49 "Unit tests"
Add some basic unit tests to make sure library works fine after `moveable` upgrade and component changes

[2019-10-23 09:23] zhangweibo123 opened #51 "How to get the relation of moveable with moveable-control-box？"
i have more vue-moveable，how to find which moveable-control-box when i click moveable？

[2019-10-23 10:26] stefanaz commented on #51
had a same issue recently. The best way which I've found is:
-- wrap your vue-moveable into div. Add him id or class.
-- in your moveable config, specify container (div from the first step) which is related to your vue-moveable item like this :
`container: document.getElementById('container_id') `

Then you will get:

`<div id='container1'>`
   `    <vue-moveable />`
   `    <moveable-control-box

[2019-10-23 10:27] stefanaz commented on #36
@probil  thanks!

[2019-10-23 10:28] stefanaz commented on #35
@probil  thanks, that can be applied

[2019-10-23 10:28] #35 closed

[2019-10-23 10:28] #36 closed

[2019-10-23 14:16] katOstrynska opened #52 "Bind style to <Moveable> component"
I would like to bind height and width to moveable component, because then moveable-control-box will be that width and height too.
However, when i use :width="el.width" on my <Moveable> it does not render; data attributes does not render too.
How to add style to <moveable> component? It can not be in <style> tag, because it is dynamic and different, depending on element values.

[2019-10-23 14:18] katOstrynska commented on #51
It does not work when there is more than one <Moveable> components, like this:
`<div class="container">
   <Moveable />
</div>
<div class="container">
   <Moveable />
</div>
<div class="container">
   <Moveable />
</div>`

then moveable-control-boxes does not render at all

[2019-10-23 14:29] #52 closed

[2019-10-23 14:38] stefanaz commented on #51
@katOstrynska
works for me like this:

[code]

for each Moveable item:
[code]
[code]

Hope this help)

[2019-10-23 14:48] stefanaz commented on #51
@probil  I think it is this:
![Bildschirmfoto 2019-10-23 um 16 47 33](https://user-images.githubusercontent.com/8876063/67405325-e4059400-f5b4-11e9-8025-c44d9424df29.png)

[2019-10-23 14:56] stefanaz commented on #51
this does not work for me any more (since a new version was uploaded):
`container: document.getElementById('container_id')`

@probil , I am also interested now, how to define connections between moveable and it's moveable-control-box. Do you have some ideas?

[2019-10-23 15:00] stefanaz commented on #51
For example I want to change color of the blue lines on hover at the moveable item. I need to know then how to access "moveable-control-box".

In case of multiple items it becomes not clear.
The hard case comes also when item redraw, 'moveable-control-box' also redraws. And then it is not possible to find it even with a child index.

[2019-10-23 15:08] probil commented on #51
[code]
then (for example in `mounted` hook)
[code]
I'll add a shortcut for it later
<img width="546" alt="Screen Shot 2019-10-23 at 18 07 56" src="https://user-images.githubusercontent.com/6773202/67407368-0ea91a00-f5c0-11e9-8672-eb7b3ce8b9b9.png">

[2019-10-24 02:14] zhangweibo123 commented on #51
@probil  ref="moveable"   Should this parameter be updated before it can be used？

![image](https://user-images.githubusercontent.com/24311876/67447627-0f38c380-f647-11e9-8b0a-b79d7a430277.png)

[2019-10-24 07:49] katOstrynska commented on #51
My main problem is that when i have image in movable element, blue control box has height of paragraph and width of 0. I figured, that if i will give movable element width and height (in scoped styles), then blue control box will be the same width and height as my movable element. I want to dynamically bind style to movable element, but it just do not show. Only movable transforms are binded, not

[2019-10-24 14:03] katOstrynska commented on #51
@stefanaz yes! thank You, it worked; when I was setting the style as :width="item.width" it did not work; i tried bind :style, but i was clearly doing something wrong bc it didn't wokr. But now it works, thanks ;)

[2019-10-25 05:44] daybrush opened #54 "Single moveable control box"
It has props of target in moveable.
Each time the target changes, the moveable box changes.

But only vue is different.

* vanilla
[code]

* react
[code]
* Angular
[code]
* vue
[code]

https://github.com/daybrush/moveable/issues/55

[2019-10-25 08:20] probil commented on #54
Hey @daybrush
Thanks for your issue

I guess it's wise to support both versions, e.g.
[code]
and
[code]

What do you think?

[2019-10-25 08:26] daybrush commented on #54
@probil

is it possible?

[code]

[2019-10-25 09:57] probil commented on #54
right now - no. But I can implement it

[2019-10-25 12:23] probil commented on #54
I don't think it's possible in general. Vue will look for `document` key on the component instance. I guess I would need to pass selector, e.g.
[code]

[2019-11-05 12:52] ibadass commented on #28
Hi,
I have the same problem, I use Vue Material and I think that is the source of this issue.
Do I have to add `position: relative` on each parents ?
Thanks

[2019-11-05 13:49] probil commented on #28
@ibadass It depends on how you've implemented that. 🤔
If you have Moveable in few unrelated places - yeah, you should have `position: relative` on each exiting parent wrapper.

If you have few related Moveable instances in one place (see screenshot of contd about) you can have just one parent with `position: relative`

I don't think CSS framework is an issue - you can always add one more wrapper w

[2019-11-05 15:15] ibadass commented on #28
@probil Thank you for your answer, I understand.
Here is a [codesandbox ](https://codesandbox.io/s/vue-material-also-works-on-the-right-side-m7zfn?fontsize=14)in order to understand my problem and maybe find a solution...

[2019-11-05 21:47] probil commented on #28
@ibadass You need to pass container ref as a prop to `<Moveable>`:

[code]
https://codesandbox.io/s/vue-material-also-works-on-the-right-side-j5psx

[2019-11-05 21:48] probil commented on #28
I think this should help other guys (like @contd ) as well

[2019-11-06 08:43] ibadass commented on #28
@probil Thanks, it works great !
Just a thing, in my example, : when I create 2 shapes and manipulate one of them, it move "automatically" on the other.

[2019-11-06 10:14] probil commented on #28
@ibadass I saw that. It's because you are using one `$frame` object.
In the latest version of the library you can get rid of `$frame` completely. Check examples in repo

[2019-11-06 10:23] ibadass commented on #28
@probil Thank you ! It's perfect !

[2019-11-06 15:47] ibadass opened #60 "Container boundaries"
@probil How to handle bounds, I want my moveable object can't get out of the parent container, is that possible ?

[2019-11-07 09:45] probil commented on #60
Hi @ibadass 👋
Thanks for your issue.
Have you tried `bounds`?

[code]
https://daybrush.com/moveable/release/latest/doc/Moveable.html#bounds

[2019-11-08 03:55] AsheKR opened #63 "Cannot read property 'userAgent' of undefined"
![image](https://user-images.githubusercontent.com/42999044/68444946-cb83b380-021b-11ea-8d8f-df7bc3082fcd.png)

Can't use it on the nuxt?

[2019-11-10 17:42] akinhwan commented on #28
I had the same issue and added position:relative like suggested above. Not using vue material though. Just trying to get the bounding controls to show up around my images on load.

Currently the bounding controls only surround the image like I want, once I click on the image.
Could be because I'm looping through and using slots to have many images loaded with moveable component.

[2019-11-13 08:52] ibadass commented on #60
Hi @probil,

I tried bounds option but it doesn't seems to work.
On "mounted" function, get the dimension of my container, and I apply on the bounds options (right and bottom), but when I add a new moveable object, I can drag it over the container.
Here a [codesandbox](https://codesandbox.io/s/vue-material-also-works-on-the-right-side-dgn27) to see my issue.

[2019-11-15 07:22] akjoshi6 opened #69 "How to set initial position for a warpable component"
I want to create polygon like moveable under specific div given that I have 4 x-y coordinates where the moveable needs to be placed. And also need new position (if changed by user) w.r.t. that specific div. Please guide.

[2019-11-18 15:17] Avyiel commented on #60
I'm having a similar issue, where `bounds` isn't constraining the moveable element. Any specific way to use it, other than in the `v-bind` object or as a prop `:bounds`?

[2019-11-21 10:07] razukc commented on #63
Either wrap your component in` no-ssr` or set `mode` to `client` in your plugin file

[2019-11-21 11:56] #63 closed

[2019-11-22 11:45] katOstrynska opened #72 "Fonts scale"
I have a problem with scalling texts - i would like to have defined moveable box and in there some text. When scalling, I want box scalling, not text. Now Text is scalling to, which breaks font-size.
Can I get this with Moveable?

[2019-11-22 12:33] probil commented on #72
HI, @katOstrynska 👋
Thanks for your issue.

Just use `resizable` instead of `scalable`

[2019-11-22 12:41] katOstrynska commented on #72
I will, thank You

[2019-11-22 12:41] #72 closed

[2019-11-23 22:46] hvilppu opened #74 "vue-moveable with TS"
I got:
Error	TS7016	(TS) Could not find a declaration file for module 'vue-moveable'. 'E:/project/node_modules/vue-moveable/dist/lib/VueMoveable.common.js' implicitly has an 'any' type.
  Try `npm install @types/vue-moveable` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue-moveable';`	E:\projec (tsconfig or jsconfig project)

when I try import vue-moveable at pro

[2019-11-25 14:27] bluelemonade opened #76 "pinch stops"
hello,

I checked ou component, looks nice but I got 2-3 issues. when doing pinh, it work for a few times. the it stops. when doing pinch rotate it flickers between the rotated view and the normal rotation. after this the scale is also gone.

[2019-12-01 12:29] probil commented on #51
`className` props allows to add custom class to the control box so there is at least one more way to achieve that.

BTW, @stefanaz is the issue still relevant?

[2019-12-01 12:30] probil commented on #28
Is the issue still relevant? :thinking:

[2019-12-02 10:01] katOstrynska opened #84 "How to use methods in vue-moveable"
I would like to get information about width and height od my moveable element after scaling. I tried to use method getRect(), like showed here: https://github.com/daybrush/moveable/issues/94, but in console I got `TypeError: e.currentTarget.getRect() is not a function`

My code:
[code]

How can I use methods, defined in Moveable documentation, like getRect, destroy, setState etc.

[2019-12-02 20:51] probil commented on #84
Based on your code, I guess I can access it using `ref`:
[code]

[2019-12-02 20:56] probil commented on #76
Hi, @bluelemonade :wave:
Thanks for your issue

Could you please provide a simple demo? Or maybe it can be reproduces on default playground?
I need to know your device and browser

[2019-12-03 08:06] katOstrynska commented on #84
When I try to access it like this, I get `TypeError: this.$refs.moveable.moveable.getRect is not a function`

[2019-12-03 10:11] probil commented on #84
@katOstrynska Check an example here
https://codesandbox.io/s/vue-moveable-demo-udvc8?fontsize=14&hidenavigation=1&theme=dark

[2019-12-04 09:36] katOstrynska commented on #84
Nope, I still get the same error in console : `"TypeError: this.$refs.moveable.moveable.getRect is not a function"`, on mounted() or on scale(), it doesn't matter.

Also, when in onScaleEnd :
`handleScaleEnd({ target, currentTarget }) {
                let width = target.getBoundingClientRect().width
                let height = target.getBoundingClientRect().height

                this.$store.di

[2019-12-05 10:37] katOstrynska commented on #51
I have got problem with moveable-control-box also - when I mount my element I set moveable-control-box style (width, height, left, top, translate) the same as my element's, and it works. However, I am trying to do this when I stop my scale event and it does not work. I am using currentTarget:

my kandleScaleEnd method:

`currentTarget.innerMoveable.preactMoveable.base.style.width = this.el.getRect

[2019-12-06 17:43] newcat commented on #74
As a temp fix you can add `// @ts-ignore` in the line above `import Moveable from 'vue-moveable';`

[2019-12-09 20:29] andreasvirkus commented on #84
I can confirm that `this.$refs.moveable.moveable.destory()` worked for me just fine

[2019-12-09 20:30] andreasvirkus commented on #60
Same issue here

[2019-12-09 20:44] andreasvirkus opened #86 "Control box height & position is off"
This is how the control box gets rendered for me. The width seems to be correct, but the height and position are off. I'll also try and create a codesandbox to replicate this as soon as I get a chance. I'd don't see as an issue under `moveable` nor for `vue-moveable` so it's most-likely something small on my side, but I just can't seem to figure it out 😞

This is my code:

[code]

[code]

![Screen

[2019-12-10 21:30] andreasvirkus commented on #86
After further debugging, I've found that calling `updateRect` fixes the height issue of the control box, but not the positioning.
[code]
Produces
![Screenshot 2019-12-10 at 23 25 44](https://user-images.githubusercontent.com/9140811/70570641-f5c2eb00-1ba4-11ea-95d8-dd25b6a9c946.png)

But interestingly enough, same isn't true when I substitute the custom timeout with `await this.$nextTick()`

[2019-12-12 14:03] stefanaz commented on #28
same as #86 issue

[2019-12-14 18:00] andreasvirkus commented on #86
As suggested in https://github.com/probil/vue-moveable/issues/28#issuecomment-550036539,
passing the container element's `ref` in the `container` prop worked for me!

Example:
[code]

[2019-12-14 18:01] andreasvirkus commented on #28
@stefanaz thanks for linking the issues! The container prop worked for me 🙌

[2019-12-14 20:37] andreasvirkus commented on #86
Sorry, it's not actually fixed. I think it seemed fixed since hot-reload just updated the control box.
@probil could you update moveable dependency to `0.13.1`? I think they just fixed a similar issue:
https://github.com/daybrush/moveable/issues/98

renovate bot also has a PR for this: https://github.com/probil/vue-moveable/pull/87

[2019-12-14 20:46] #86 closed

[2019-12-16 16:39] ibadass commented on #60
Hi @probil,

I updated my codesandbox with ` :bounds="{ left: 0, right: 1000, top: 0, bottom: 1000};"` and the issue is still here, do I "play" with z-index to resolve this issue ?

[2019-12-16 18:40] andreasvirkus commented on #60
I had to set both `dragArea` and `snappable` to `true` and got it working then! Hope that helps @ibadass @Avyiel

[2019-12-17 09:56] ibadass commented on #60
Hi @andreasvirkus, I add `snappable` and `dragArea` to true, but I always can move my moveable object all over the page instead the target area (see my [codebox](https://codesandbox.io/s/vue-material-also-works-on-the-right-side-dgn27))

[2019-12-17 11:00] andreasvirkus commented on #60
You can close it yourself as well (right next to the Comment button)

[2019-12-17 12:28] #60 closed

[2019-12-30 03:31] xumf opened #92 "How to set the area where components can move?"

[2020-01-02 22:17] probil commented on #28
@andreasvirkus sure

[2020-01-04 11:20] buisine opened #94 "Moveable Stuck when hitting bounds"
Hi there,
my setup works well, i just implemented bounds setting like this :

[code]

now IF the moveable touch a bound when dragging THEN when drag is released it becomes undraggable and stay stucked.
I am not ure this is the expected behavior, am i missing an option ?
Thanks.

[2020-01-07 14:34] ibadass opened #96 "Access to moveable object by ref ?"
@ibadass You need to pass container ref as a prop to `<Moveable>`:

[code]
https://codesandbox.io/s/vue-material-also-works-on-the-right-side-j5psx

_Originally posted by @probil in https://github.com/probil/vue-moveable/issues/28#issuecomment-550036539_

[2020-01-14 08:17] probil commented on #74
Typescript declaration added in [`v1.4.0`](https://github.com/probil/vue-moveable/releases/tag/v1.4.0).
Please check it out. If you have any issues while using library with typescript - create a new issue.
Thanks for patience

[2020-01-14 08:17] #74 closed

[2020-01-14 08:21] probil commented on #94
Hi, @buisine
Could you please check if there any errors in the console?
Upgrading to the latest version of the library might help as well (a bunch of issues were fixed).

Next step is to create a sandbox with reproduction.

[2020-01-14 08:22] probil commented on #84
Thanks @andreasvirkus

[2020-01-14 19:54] buisine commented on #94
Hello, @probil

i updated the module :

vue-moveable@1.4.0

console is empty.

It actually goes worst,
now if i drag once :  after the draggable is released :
i can't drag anymore, before this was happening ONLY when hitting bounds.
please note that scaling still works.
removing bounds and the component works well.

[2020-01-14 21:01] probil commented on #94
@buisine Hmmm. Strange I'm going to reproduce it tomorrow in the morning.
It might be a problem with moveable it self 🤔

[2020-01-15 08:35] probil commented on #94
@buisine Here is a codesandbox where I've tried to reproduce the issue.
https://codesandbox.io/s/moveable-stuck-when-hitting-bounds-94-9sbp0
As you might noticed it works as expected. The only issue I've found during testing is that moveable doesn't move to the dragarea on load.

Could you please fork the sandbox and reproduce your issue there?

[2020-01-15 08:49] probil commented on #96
Hi @ibadass
I didn't quite get your question but I suppose issue #82 is what you are looking for.
You can access `getRect()` this way:
[code]
Here is a demo https://codesandbox.io/s/vue-moveable-demo-udvc8?fontsize=14&hidenavigation=1&theme=dark

[2020-01-15 09:01] probil commented on #92
Hi, @xumf 👋

You can set bounds:
[code]
e.g.
[code]
Here is a demo with that.
https://codesandbox.io/s/moveable-stuck-when-hitting-bounds-94-9sbp0

[2020-01-15 09:04] probil commented on #28
@andreasvirkus `moveable` updated to `0.13.4`

---

Closing because of inactivity. Create a new issue if you have any other questions / issues

[2020-01-15 09:04] #28 closed

[2020-01-15 09:06] buisine commented on #94
@probil Thanks.

I reproduced bug here :

https://codesandbox.io/s/moveable-stuck-when-hitting-bounds-94-wbpvk

handle Scale method was added  to the fork
+ resize/scale settings on moveable object.

[2020-01-15 09:11] probil commented on #51
@katOstrynska sounds like not directly related to the issue.
[code]
Scale uses `transform` so when you set it to `none` it doesn't work. Scaled width is not the same as element width. I suppose you need you need to set transform as well

---

Closing because original question is seems to be resolved. Please create a new issue if you have any other questions

[2020-01-15 09:11] #51 closed

[2020-01-15 09:11] probil commented on #94
Thanks @buisine I'll take a look and respond you ASAP

[2020-01-15 10:54] ibadass commented on #96
Hi @probil,

Thank you for your answer !
I'll try to explain my issue with more details :
On my webpage, I can add a new moveable object in a container, after manupulate it, I can "save" it in a DB. In my DB, I save this infos (from

) :
[code]
My goal is : when I land on my page (with the container), is there a possibility to "autocreate" a moveable object with the infos from my DB ?

Thank you.

[2020-01-18 11:34] probil commented on #96
@ibadass It's possible. You just need to store internal state of moveable positions it in component's `data`. For example you can utilize `Frame` from `scenejs` (which internally used by `moveable`):

[code]
Now you need to convert the resulting CSS and feed to moveable:
[code]
I've used this approach earlier here :
https://github.com/probil/vue-moveable/blob/1704c3401cefdfd6afc87e1cdc8d48db3f91b8

[2020-01-19 10:15] probil commented on #94
Hi, @buisine
It seems I have found an issue. Moveable can't be `resizable` and `scalable` at the same time.
Provided that `resizable: true` is removed I unable to reproduce the issue anymore
https://codesandbox.io/s/moveable-stuck-when-hitting-bounds-94-usf5k

[2020-01-21 09:29] ibadass commented on #96
Hi @probil,

Thank you for your answer.
J'ai essayé la méthode, mais je n'arrive pas à résoudre mon problème. Si tu as le temps, je ne dis pas non, pour un peu d'aide...
Thanks in advance.

[2020-01-21 19:29] #94 closed

[2020-01-21 19:49] helenezspeer opened #103 "npm has wrong project?"
I just tried installing vue-movable with npm, but instead of your project, I got this one: https://www.npmjs.com/package/vue-movable

Is your project under a different name?

[2020-01-21 20:00] helenezspeer commented on #103
I spelled it wrong.

[2020-01-21 20:00] #103 closed

[2020-01-24 08:48] markusnissl commented on #54
I am not a vue expert, therefore no pull request from my side, but I have tested locally following:
I have added to MOVEABLE_PROPS array the `target`, as props I added `target: [HTMLElement]`, changed the init call of moveable to `target: this.target` and removed from the template the slot
It seems to work without error in my configuration.

Would be nice, if it works for you as well and you can a

[2020-02-10 11:19] katOstrynska commented on #96
Hi @probil
I have similar problem with my elements beeing imported from DB. When I want to edit elements from DB, I don't have 'moveable' initialized -> my this.$refs.moveable.moveable is undefined.
How to initialize moveable for elements from DB?

[2020-02-11 13:24] mbobo opened #107 "Multiple vue-moveable objects on a page"
When there are multiple moveable objects on the document.body, only one can be active at a time.  You also have to wire up a button in-order to re-activate the non-active items.  Is there a way to assign an ID and/or key so that each moveable object can be moved all the time without having to re-activate??  Seems like (from issue #35) that it should be possible to have multiple active objects.

[2020-02-23 21:16] dartanian300 commented on #84
I'm having the same issue. I can console.log `this.$refs.moveable.moveable` inside of `mounted()`, but there are no methods there. Trying to call any method such as `this.$refs.moveable.moveable.getRect()` results in an error.

My code:
[code]
[code]

The result:
![moveable refs](https://user-images.githubusercontent.com/3358537/75120196-9e86cf80-5657-11ea-970e-7db3cd585242.JPG)

[2020-02-26 08:59] masktim opened #111 "Multiple moveable issues"
Excuse me for my poor english.
vue 2，moveable-vue version:1.4.0
1.I didn't set the initialization style. I expected the width of the moveable-box to be the default target width. But when there are multiple moveables, it becomes the widest target width.
![image](https://user-images.githubusercontent.com/22573355/75327844-04719200-58b8-11ea-9ffd-b149f13664e7.png)
2.I did not use moveable-vue 1.5.0,

[2020-02-26 14:05] probil commented on #84
@dartanian300 I can confirm that this is happening in the latest version (v1.5.0). Try to downgrade to `v1.4.0`. It seems to be working fine.

I'll check what was changed in `moveable` because nothing changed in `vue-moveable` since then.
Thanks for your message 👍

[2020-02-26 15:23] katOstrynska opened #112 "Issues after update to version 1.5.0."
Hello, I've updated vue-moveable to version 1.5.0. and I can not reference to setState() method.
I used (for example)
`this.$refs.moveable.moveable.setState(() => this.moveable.draggable = true)`

Now i can't set moveable values andI don't see my renderDirections.

Access to moveable-control-box also changed, from this.$refs.moveable.moveable.innerMoveable.preactMoveable.base.style to this.$refs.m

[2020-02-27 08:40] katOstrynska commented on #84
@probil I've opened similar issue yesterday, and I've downgraded to 1.4.0. as You said here, but I still got different problem - I can not get width and height od my element after rotate and scale. I got widh and height of its container. I saw that after rotate or scale offsetWidth and offsetHeight do not change in getRect() method. Look at issue I linked in moveable github. Thank You.

#112
https

[2020-02-27 08:40] katOstrynska commented on #112
downgraded vue-moveable to 1.4.0.

[2020-02-27 08:40] #112 closed

[2020-03-01 22:16] dartanian300 opened #114 "Unable to use groups after initialization"
Based on the Moveable documentation (found here: https://github.com/daybrush/moveable/blob/0.13.4/handbook/handbook.md#toc-group), you can create a group of moveable elements by passing an array to the `target` property. However, doing so in vue-moveable after initialization throws the following error:

`Uncaught (in promise) TypeError: Cannot read property 'addEventListener' of undefined`

I've c

[2020-03-05 13:01] masoudelahi opened #116 "re-drawing on resize"
#8
I have same problem,
version: 1.5.0
container have full width,
when i change width of side element programmatically that happens again

[2020-03-06 03:43] yoyogis opened #117 "upgrade to release 0.15.2 ?"
daybrush/moveable have released 0.15.2, could you upgrade to that release. Thank you so much.

https://github.com/daybrush/moveable/releases/tag/0.15.2

[2020-03-07 12:37] daybrush commented on #117
@probil  @yoyogis

https://github.com/probil/vue-moveable/pull/118

[2020-03-11 06:15] jingyuLin1999 commented on #107
The same issue.
I am looking forward to receiving answer.

[2020-03-11 08:30] probil opened #120 "Use Circle CI pipelines"
Since March CircleCI stops supporting common configuration file so existing configuration file needs to be rewritten using pipelines to continue using the service

https://circleci.com/docs/2.0/build-processing/

[2020-03-11 08:40] probil commented on #117
@yoyogis Done

[2020-03-11 08:40] #117 closed

[2020-03-12 07:54] probil commented on #116
Hey @masoudelahi 👋
Could you please provide codesandbox reproducing the issue? You can take the demo project mentioned in README

[2020-03-12 07:59] probil commented on #111
Hi @masktim

It's strange. Could you provide a codesandbox reproducing the issue? It would help to fix an issue much faster

P.S. Do not create multiple problems in one issue.

[2020-03-13 07:47] #120 closed

[2020-03-13 07:56] probil commented on #114
Hi @dartanian300 👋
Thanks for your issue. Groups are not supported right now. Some work was done in `v1.6.0` to make it work properly but it still needs testing

[2020-03-13 08:09] probil commented on #54
@markusnissl Thanks for your feedback.
Some work regarding that was done in `v1.6` I'll try to find some time this weekend to make it work properly

[2020-04-05 06:16] mamsoudi commented on #54
Thanks for your great work on this @probil,
But I also find it very useful to add support for groups and also make the API the same as the other libraries. I've had a lot of confusion looking at the examples and just realised that this isn't supported in `vue-moveable`.
It'd be great if we could have support for groups and not having target passed as slots necessarily! I guess, for now, I would fa

[2020-04-05 10:38] probil commented on #116
Couldn't reproduce. It works just fine for me. Closed because of inactivity.

[2020-04-05 10:38] #116 closed

[2020-04-05 11:14] probil commented on #84
Starting from `v1.6.0`, all methods are available without extra `moveable` instance:
[code]
For example:
[code]
Here is a codesandbox with a demo:
https://codesandbox.io/s/vue-moveable-issue-84-xzblq

 (Added to README)

Please open a new issue if you still experience problems with calling moveable methods

[2020-04-05 11:14] #84 closed

[2020-04-05 11:27] #92 closed

[2020-04-05 11:29] probil commented on #76
The library was updated several time and `moveable` itself fixed a bunch of issues since then. I believe issue is fixed now. Let me know if you still have any issues
Closing because of inactivity

[2020-04-05 11:29] #76 closed

[2020-04-05 11:34] probil commented on #69
Check [this comment](https://github.com/probil/vue-moveable/issues/96#issuecomment-575890765)
The idea is to have state of moveable managed explicitly.
I mean, each time moveable position changes state should be updated. And vise-versa

[2020-04-09 08:29] giuliogatto opened #125 "Events doesn't seem to be bound correctly"
Hello,
I am having an issue with events:
[code]
Gives me an error:
_"dragend" is emitted in component <Moveable> but the handler is registered for "dragEnd". Note that HTML attributes are case-insensitive and you cannot use v-on to listen to camelCase events when using in-DOM templates. You should probably use "drag-end" instead of "dragEnd"._

And no callback is executed.
BTW: thank you for the l

[2020-04-09 10:47] probil commented on #125
Sounds like a bug, I'll check it.
Thanks @giuliogatto for reporting

[2020-04-10 22:36] jeffreykthomas commented on #96
What's the best way to feed it to the moveable object?

[2020-04-11 19:43] jeffreykthomas commented on #96
I had some trouble knowing how to feed the moveable new CSS, but the following worked for me.

My ref for the moveable is player1

`this.$refs.player1.moveable.target.style.cssText`

[2020-04-22 01:43] donley828 commented on #41
hi,how do you solve it

[2020-04-27 13:47] chonsser commented on #125
According to [Vue's docs](https://vuejs.org/v2/guide/components-custom-events.html) the events should support kebab-case. I think we should deprecate the `camelCase` in the near future to comply with Vue's naming convention.

I've made a [pull request](https://github.com/probil/vue-moveable/pull/128) which brings support for the kebab-case events. Ping @probil

[2020-04-29 09:47] probil commented on #125
kebab-case events support lended in `v1.7.2`, camelCase events are still supported (till the next major version). Thanks @chonsser

@giuliogatto Could you please confirm that the issue is fixed for you?

[2020-05-04 14:23] #125 closed

[2020-05-05 10:41] ETSmukesh opened #131 "Active object should display on top in the multiple object"
If I select or drag any object then it should be active among all the objects.

Example
https://codesandbox.io/s/vue-moveable-demo-buy5u?file=/src/App.vue

[2020-05-08 22:41] josvos opened #133 "Basic resizable example needed"
I'm looking for the Vue version of the basic resizable example from the Moveable storybook (https://daybrush.com/moveable/storybook/?path=/story/basic--resizable), that only moves the corner/edge you drag when resizing and keeping the opposite corner/edge at the same place.

[2020-05-18 14:29] github-actions[bot] opened #137 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-18 14:38] #137 closed

[2020-05-18 14:45] probil commented on #137
Fixed

[2020-05-19 10:49] katOstrynska opened #138 "setState method not working in 1.8.2 version"
I just updated to 1.8.2 version of this plugin and I cannot set values for my state;

https://github.com/probil/vue-moveable/issues/84#issuecomment-609399892

I removed additional moveable instance from this.$refs.moveable.setState(); but it still do not work.

I have got something like this in mounted function:
`this.$refs.moveable.setState(() => {
  this.moveable.scalable = true;
  this.moveable

[2020-05-20 10:14] probil commented on #138
Hi @katOstrynska
Are there any errors in the console when you call `this.$refs.moveable.setState` ? Can you tell me what's the sign that it's not work?

---

BTW if you use `v-bind` with moveable you can change `moveable` configuration in your instance's data directly. Component will sync that change with inner moveable instance automatically

[2020-05-26 11:41] probil opened #140 "v1.8.2 doesn't contain moveable v0.17.6 but v0.17.5"
Proof: https://cdn.jsdelivr.net/npm/vue-moveable@1.8.2/dist/lib/VueMoveable.umd.js
search for 0.17.5

[2020-05-26 11:42] #140 closed

[2020-06-01 20:20] csterritt opened #144 "Cannot dynamically resize the moveable"
Hi - I have a [codesandbox demo here](https://codesandbox.io/s/vue-moveable-demo-me1sl?file=/src/App.vue) of the problem I'm seeing.

I want to be able to move the box you see on screen by dragging the "Move" in the top-left, and that works fine.

I want to be able to "close" the box, by which I mean just reduce it to the banner at the top with the "Move" and "Close" controls.  This *almost* works

[2020-06-02 00:14] csterritt commented on #144
Update: Found a fix by trying to make a vanilla-moveable example.

First, I set up a ref on the Moveable instance named "theMoveable".

Then, in the `toggleOpenClose` method, I added:

[code]

To force the update.  If I don't put it in a `setTimeout` call, the change (either the CSS change or the updateRect) comes too late, and the display is wrong.

Is this the right way to do it?

My apologies,

[2020-06-16 07:53] valluminarias opened #150 "Option to hide the control box"
Does it have an option show or hide the control box, or the blue box?

[2020-06-22 08:56] abinhho opened #152 "Drag button instead all element"
Hello,
I have a comment box like image below, I can not focus to textarea to type some text. I'd like to add 1 button (icon drag) instead hold and move any position inside element.

![Screen Shot 0002-06-22 at 17 54 08](https://user-images.githubusercontent.com/9253378/85268514-9463c900-b4b1-11ea-91c9-61c1b90ff7f9.png)

This is my code
[code]

Any help!

[2020-07-06 15:16] usmanibrahim74 opened #158 "How to change default container for controls?"
Hello I'm new to vue and I'm using vue-moveable in a subcomponent and but controls are moving all over the page. I want them in that component only. I tried using the container prop mentioned in [API documentation](https://daybrush.com/moveable/release/latest/doc/). like this
`data: function () {
            return {
                moveable: {
                    **container: document.getElementB

[2020-07-07 19:30] andreassoegaard commented on #96
@jeffreykthomas How did you do exactly? I have a getRect() object in a DB (this.data), which i try to assign to a Moveable ref like this in mounted hook:

this.$refs.parmOne.moveable.target.style.cssText = this.data.toCSS();

My ref is called parmOne and is assigned to the <Moveable> component.

But nothing gets assigned. cssText is empty when i console.log it.

[2020-07-08 02:01] jeffreykthomas commented on #96
@andreassoegaard,

Not sure if this could be the difference, but you may need to utilize the Frame method from scenejs (installed as a separate package) to use this process

Within my app the full process is:

Within computed:
`player1Position(){
        let frame = new Frame(this.pawnFrames[0].frame);
        return frame.toCSS()
      }
`

And then in updated hook:
`this.$refs.player1.moveable.t

[2020-07-09 17:11] CesarGomezTissini commented on #158
https://github.com/probil/vue-moveable/issues/28#issuecomment-550036539

[2020-07-21 08:20] rodneygen22 opened #164 "Ho to set active/inactive states of movable components"
Hello, how can we set the movable component to active on mouse click or drag, move and resize and then set as inactive on blur?

Thanks!

[2020-08-07 19:47] bubbleheadinc opened #168 "Bounds in container doesn't seem to apply"
Hi, I'm starting to play with Vue Moveable and I'm trying to get the moveable to stay inside its container. I've set, draggable, dragArea, and snappable to the demo sandbox according to the docs. I have added a `:container="$refs.container"` to specify the container and set styles on the container and then try to set bounds.

The object can still be moved outside the container and the bounds seem

[2020-08-18 13:17] aslamdoctor opened #173 "moveable controls don't align properly when used as a vue component build."
So I used this package and really loved the features offered but when I try to build my own vue component into html file, the moveable controls don't align properly and they go in the top left corner of the screen.

This is the command I use to build component into /dist folder

``npx vue-cli-service build --target wc --name my-component 'src/components/MyComponent.vue' --inline-vue``

[2020-08-19 07:04] Evan-Millikan opened #174 "How to hide blue lines?"
I want to make the page an edit page. Thus, when on edit page there is a blue line and everything is draggable and such but when you press save everything is "saved" and i want to hide the blue lines.

Is there a way to hide the blue lines surrounding your html elements?

[2020-08-20 15:46] liveclickermike commented on #168
I'm also having this issue.. I have a hacky workaround of measuring the top/left of the container and manually setting bounds equal to the container bounding box, but this doesn't work if the page changes in layout above the container (and throws the position of the container off from initial page load)

Any help would be greatly appreciated!

[2020-10-08 21:40] Jakub-Izbicki opened #187 "Stop propagation when Movable inside Movable?"
Hi, I have this structure in one of my components, with one moveable inside another one:

<template>
  <Moveable> // moveable #1
    <div>
      <Moveable> // moveable #2
        <div>
        </div>
      </Moveable>
    </div>
  </Moveable>
</template>

Both moveables have draggable enabled and methods that handle drag as specified in vue example in this project's README.
When I am dragging moev

[2020-10-12 18:05] gabojkz opened #190 "Cannot read property '_c' of undefined Vue version 3.0.0"
I am using the new CLI version 3.

essential using one of the examples in the website but still can't make it work.

[code]
Here is a sandbox with the error [vue3 example](https://codesandbox.io/s/vue-moveable-demo-forked-sq8ik)

Maybe I need to install babel polifylls not sure advice?

[2020-10-20 09:07] lishuyi opened #193 "Unable to use group"
Hello,Whether the current version supports groups of VUE projects and resizing and dragging within groups ?

[2020-10-22 04:37] zhishaofei3 commented on #41
hi,how do you solve it ?

[2020-10-22 04:38] zhishaofei3 commented on #150
me too

[2020-10-23 10:55] josvos commented on #168
AFAICS, the container prop expects a HTMLElement, not a Vue component that $refs.xxx is.  BUT: I do not manage to pass such an element (as a quick test I did this with `document.querySelector`), because then I get `[Vue warn]: Error in nextTick: "RangeError: Maximum call stack size exceeded"`.  According to https://www.gitmemory.com/issue/probil/vue-moveable/27/543120459 this is due to the way vue

[2020-11-03 19:27] tnorbs commented on #174
I'm having the same issue.. Can't hide the blue lines!

[2020-11-04 13:56] L-wo commented on #174
You can hide the blue lines by including this CSS in an appropriate place:

`.moveable-control-box {
    opacity: 0;
  }`

In my project, I included it in the parent component in an **unscoped** style tag.

[2020-11-11 13:33] HugoHeneault opened #201 "Unable to edit contenteditable blocks"
Hi there! Thanks for your Vue plugin :-)

On [moveable home page](https://daybrush.com/moveable/) we can edit the moveable block content with an `contenteditable="true"` attribute.
Using this attribute on the `vue-moveable` doesn't work... until we right click the block and then it becomes editable.

See
[code]

Demo here :
https://codesandbox.io/s/vue-moveable-issue-84-forked-ojmhj?file=/src/App.

[2020-12-03 03:59] fs-ses-tatsuya-matsunawa commented on #41
hi,how do you solve it ?

[2020-12-04 08:42] #201 closed

[2020-12-07 09:36] Psychokiller1888 opened #209 "[idea] Droppable"
This library is AWESOME!

If I may, there's one thing missing in all of this, we can do anything, but a "droppable" is missing for me. I did it myself, but if it was out of the box it would be wonderful!

[2020-12-07 16:43] rosoks commented on #174
You should change all states of moveable object to false (keepRatio or throttle can be origin):
[code]
by doing this, element **wouldn't** have movable possibility.
_or_
To save movable, you should look at css tables in developer console (in browser), and find one which sets color to editlines. (In firefox go to your site and press SHIFT + F7 to access all css tables, so you can play with visibili

[2020-12-09 01:08] niula666 opened #210 "Does anyone know how to create a group?"
I dont know how to get the “target” in vue。I written it like this
`<vue-moveable
      :target="document.querySelector('.target')"
      v-bind="moveable"
      @dragGroupStart="onDragGroupStart"
      @dragGroup="onDragGroup"

    </vue-moveable>`,
But it didn't work。Can someone help me? thanks a lot.

[2020-12-12 14:34] Masterpc96 opened #212 "Getting selected model Id"
I have multiple Moveable objects and I want to get target id but still I got undefined
` <Moveable
            class="moveable-line"
            v-bind="moveable"
            v-model="selectedSeat"
            @drag="handleDrag"
            @rotate="handleRotate"
            v-for="car in seats" :key="car.name"

          <img src='../../assets/seat.png' width="50px" v-bind:id="car.name">

[2020-12-19 02:33] colxi commented on #190
I've also been trying for a while, and could not manage to make it work either.
It seems `vue-moveable` is not compatible with Vue3.

[2020-12-19 12:14] probil commented on #190
`vue-moveable` is not compatible with Vue 3 just yet

[2020-12-20 12:29] gabojkz commented on #190
If you clone the repo and install all the deps using `npm install` it works I decided to go another way but I remember that the problem was around the wrapper `vue-moveable/src/components/Moveable.vue` the reason why it does not work is because Vue3 uses a new syntax I wish I could put a PR up but don't have time at the moment apologies

Hope it helps thanks

[2020-12-26 14:21] nwafor-austine opened #216 "Creating new instance of vue-moveable"
Hi, want to create a new instance of vue-moveable whenever I drop an element on a certain div.
Below is a screenshot of my code.

![image](https://user-images.githubusercontent.com/20570511/103152952-2a441d80-478d-11eb-98bc-9850d420353c.png)
The code by the left is the actual code I wrote for creating a new instance of vue-moveable. Any help on how to get around this would be helpful.

![image](ht

[2021-01-05 21:10] umonaca commented on #174
Set the following CSS in your project:
[code]

[2021-01-21 13:09] renovate[bot] opened #225 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:43] #225 closed

[2021-02-19 17:05] JohannesSchwegler commented on #168
@josvos  @liveclickermike rollback to a older version is a workaround for now,
(https://codesandbox.io/s/vue-material-also-works-on-the-right-side-dgn27?file=/package.json:256-261)

[2021-02-19 17:33] josvos commented on #168
FWIW: I use a local copy now, in which I added a prop `containerSelector` (string) and in `mounted()` I do `containerElement = document.querySelector(this.containerSelector)`. That `containerElement` is then used as first parameter for the `Moveable()` constructor.

[2021-02-23 18:16] fardisaz opened #233 "How to initialize the position of the rectangle"
I like to to know how can I initialize the left/top position manually?
Thanks in advance for your response.

[2021-02-23 23:26] stuartmitchelhill opened #234 "Click event not firing"
Hi there,

Having an issue with click event on <Moveable> not firing, can you confirm if this functionality has been included from the original plugin?

Thanks

[2021-02-23 23:38] robinslange opened #235 "Moveable Editable With Buttons"
Hey, looking to implement a custom control on Moveable elements as shown here:

https://daybrush.com/moveable/storybook/?path=/story/make-custom-able--editable-with-buttons

However I've not been able to work out how to do this with the Vue-moveable wrapper.

Are you able to provide some guidance as to how I can best achieve a similar effect with Vue-moveable?

[2021-02-28 22:59] boutell opened #238 "Resizing from lower right corner gets out of sync with pointer position if the pointer moves quickly"
When moving slowly this does not seem to occur.

Using the simplest possible implementation of the resize event as shown in your example.

[2021-03-19 04:16] kota-yata opened #243 "Bounds parameter doesn't work for scaling"
I set the bound parameter `bounds: { left: 0, top: 100, right: 300, bottom: 500 }, }`, and it works correctly for dragging. However scaling doesn't stop even when edge of the target beyond the bounds.

I tried to limit using DOMRect like so:

[code]

In this case, I can't scale the target anymore once isOnEdge turns true since targetRect has already been out of the bounds. How can I limit the targ

[2021-03-24 17:57] irinalabuac opened #245 "Accessing and changing property of 'moveable-control-box'"
Hello, I am new to VueJs and I am trying to access and change the property of blue bounding box. I set it to zero opacity at the moment like that: .moveable-control-box { opacity: 0; }
but I would like enable user to turn opacity on and off.

I tried calling class 'moveable-control-box', and 'moveable' as well but I get
Error in v-on handler: "TypeError: Cannot read property 'style' of undefined",

[2021-03-29 01:15] labbomb commented on #190
When will it be supported in vue3

[2021-04-03 22:34] gabojkz commented on #190
Hey there guys here is a repo that contains the [moveable compatible for vue3](https://github.com/gabojkz/vue_moveable_v3)

[2021-04-09 03:51] zc9 opened #250 "The target attribute is set to an empty array, an error occurs in the console"
The target attribute is set to an empty array, an error occurs in the console

[2021-04-09 03:52] zc9 opened #251 "How to manage the switching of multiple moving objects"
How to manage the switching of multiple moving objects

[2021-04-19 18:30] bkowzx commented on #114
Finally figured out what the problem was. Boolean props have a default value of False. This was screwing everything up. I replaced every Boolean prop value from Boolean to ```{type: Boolean, required: false, default: undefined }``` in [Moveable.vue component](https://github.com/probil/vue-moveable/blob/master/src/components/Moveable.vue), and it worked! So I believe that's the fix that needs to be

[2021-04-28 06:21] jakenuts commented on #133
Same, I have a sneaking suspicion it's in the css not the properties.

[2021-05-29 03:03] georgezouq commented on #250
same problem, it should be an array of HTMLElement or SVGElement

[2021-06-07 14:14] RanjeetEppa18 opened #282 "How to set min-width & min-height (without css hacks)"

[2021-07-15 03:52] shadow81627 opened #294 "nuxt typescript HTMLElement is not defined"
To use this library with Nuxt and typescript I need to add this code into my nuxt.config.js.

[code]

https://github.com/nuxt/nuxt.js/issues/5622#issuecomment-492212292

[2021-07-25 06:07] iCloudys opened #297 "牛逼"

[2021-07-28 08:28] Sainkhishig commented on #190
thanks a lot. it saved me!

[2021-08-30 08:50] renovate[bot] opened #310 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [fix(deps): update dependency moveable to v0.26.0](../pull/285)
 - [ ] [chore(deps): update dependency sass-loader to v12](../pull/276)

---

[2021-08-31 17:04] jifka commented on #133
Bump

I'm seeing a lot of examples out there where you can resize from the top and the bottom stays in place. Or you resize from the left and the right stays in place. But if I use the example code that just changes the width/height on resize, not matter what you drag, the object resizes to the right and down. Looking in the browser debug on working examples, I see that the x/y translation is bein

[2021-08-31 21:28] jifka opened #311 "Is there a way to snap Resize, Drag, and Rotate to a configurable grid?"
I'd like to create an editor that will use Moveable components, but I'd like all drag, resize, and rotate operations to snap to a grid. For example, moving and resizing should increment by 10, and rotation would increment by 5 degrees.

[2021-09-01 15:51] #311 closed

[2021-09-01 15:51] jifka commented on #311
Nevermind - I didn't realize the throttle options do exactly this. The docs were not exactly clear.

[2021-09-07 12:37] JingFanWang opened #314 "How to import vue-moveable using CDN ？？？？"
How to import vue-moveable using CDN ？？？？
I need your help！！

[2021-09-23 02:59] w934423231 opened #317 "I customized ables in vue2.0 and never displayed them. I don't know why"
`  ables: {
        name: "mouseTest",
        props: {},
        events: {},
        render(moveable, React) {
          const CustomElement = moveable.useCSS(
            "div",
            `
        {
            position: absolute;
        }
        `
          );
          // Add key (required)
          // Add class prefix moveable-(required)
          return moveable.createElement("div", {}

[2021-09-23 03:09] w934423231 commented on #235
Excuse me, have you solved this problem now

[2021-10-12 01:49] UILKUNP commented on #317
## solved this by queryElement
## looks like this
![image](https://user-images.githubusercontent.com/48908684/136877226-94bcb20b-0076-425e-ab73-c7aeb4a95c50.png)

### js
[code]
### css
[code]